
#launch.json folder
.vscode/
#Cache folder
.alcache/
# Ignore specific CSV files
results_final.csv
results.csv
test.csv
train.csv

# Ignore all CSV files in the data/ folder
data/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore all log files
*.log